body{
  margin: 0;
  padding: 0;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #31b0d5;
  height: 100vh;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo h3 {
  margin: 0px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 5em;
}

.todo p {
  font-size: 2em;
}

.todo ol {
  padding: 0;
  min-width: 200px;
  list-style: none;
}

.todo ol li {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  padding: 5px 0px 5px 0px;
}

.todo ol li span {
  padding: 0 30px;
}

.todo ol li i {
    cursor: pointer; 
}

.todo ol li i:hover {
  opacity: 0.9;
  
}
.fa-check:hover {
  color: #5CBF2A;
}
.fa-check {
  margin-left: 5px;
}
.fa-trash-alt:hover {
  color:red;
}
.todo input{
  width: 500px;
  height: 50px;
  font-size: 1.4em;
  border: 0px;
  outline: none;
}

.newForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: default;
  
}
.todos-left {
  margin-top:15px;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
	font-size:17px;
	padding:16px 31px;
  text-decoration:none;
  background-color:#44c767;
  text-shadow:0px 1px 0px #2f6627;
}
.submitBtn {
  width: 156px;
  margin-top:15px;
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-shadow:0px 1px 0px #2f6627;
}
.submitBtn:hover {
	background-color:#5cbf2a;
}
.submitBtn:active {
	position:relative;
	top:1px;
}

.submitBtn:focus {
  outline: none;
}